@import '~leaflet/dist/leaflet.css';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Righteous&display=swap');

* {
	font-family: 'Merriweather', serif;
}

body {
	margin: 0;
	background: linear-gradient(to right, #E9F8FF, #90B2D8, #C1E3FF);
}

textarea:focus,
input:focus {
	outline: none;
}

.signin-signup {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #2e3469bf, #3f3f6e);
}

.signin-signup h1 {
	text-align: center;
}

.signin-signup .sinlog {
	width: 350px;
	height: 450px;
	background: #1a2547;
	overflow: hidden;
	/* background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover; */
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

.signin-signup a {
	color: #fff;
}

.signin-signup .signup {
	position: relative;
	width: 100%;
	height: 100%;
}

.signin-signup .login {
	position: relative;
	width: 100%;
	height: 100%;
}

.signin-signup label {
	color: #fff;
	font-size: 1em;
	justify-content: center;
	display: flex;
	margin: 31px;
	font-weight: bold;
	cursor: pointer;
	transition: .2s ease-in-out;
}

.signin-signup input {
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 10px;
}

.signin-signup button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 17px;
	transition: .2s ease-in;
	cursor: pointer;
}

.signin-signup button:hover {
	background: #6d44b8;
}

.signin-signup .h1 {
	color: white;
}


.signin-signup input {
	width: 60%;
	height: 20px;
	background: #E0DEDE;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 10px;
}

.signin-signup button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573B8A;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 17px;
	transition: .2s ease-in;
	cursor: pointer;
}

.signin-signup button:hover {
	background: #6D44B8;
}

.signin-signup .cont {
	margin-top: 50px;
	margin-left: 500px;
	height: 700px;
	width: 500px;
	background: #1A2547;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.signin-signup .im {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.signin-signup .text {
	font-size: 23px;
	letter-spacing: 0.1em;
	font-weight: 500;
	color: white;
}


































































.profile input {
	width: 60%;
	height: 20px;
	background: #E0DEDE;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 10px;
}

.profile h2 {
	text-align: center;
}

.profile button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573B8A;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 17px;
	transition: .2s ease-in;
	cursor: pointer;
}

.profile button:hover {
	background: #6D44B8;
}

.profile .cont {
	height: 700px;
	width: 500px;
	background: #1A2547;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	position: absolute
}

.profile .im {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	/* object-fit: cover;
	object-position: center; */
	transform: translate(-50%);
	margin-left: 50%;
}

.profile .text {
	font-size: 23px;
	letter-spacing: 0.1em;
	font-weight: 500;
	color: white;
}