leaflet-control-geocoder-icon {
    display: none !important;
}

.leaflet-container {
    width: 100vw;
    height: 60vh;
    z-index: 1;
}

.leaflet-control-attribution {
    display: none !important;
}

.leaflet-touch .leaflet-control-geocoder {
    min-width: 90vw !important;
    height: 8vh;
    top: 55vh;
    transform: translate(-50%, -50%);
    left: 45%;

    margin: 0;
    text-align: center;
    z-index: 5000;
}

.leaflet-control-geocoder-icon {
    display: none !important;
}
.leaflet-routing-alt {
    display: none !important;
}
.leaflet-routing-container .leaflet-bar leaflet-control {
    display: none !important;

}

.leaflet-touch .leaflet-bar {
    display: none !important;

}